/** @format */

@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
@import "./scss/common.scss";
@import "./scss/pageNotFound.scss";
@import "./scss/slide.scss";
@import "./scss/text-run.scss";
@import "./scss/animation-top-view.scss";
$SSM: 375px;
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1400px;
@mixin Responsive($canvas) {
  @if $canvas == SM {
    @media only screen and (max-width: $SM) {
      @content;
    }
  } @else if $canvas == MD {
    @media only screen and (max-width: $MD) {
      @content;
    }
  } @else if $canvas == LG {
    @media only screen and (max-width: $LG) {
      @content;
    }
  } @else if $canvas == XL {
    @media only screen and (max-width: $XL) {
      @content;
    }
  }
}
@keyframes buttonshow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.buttonshow {
  animation: buttonshow;
  animation-duration: 1s;
}
html {
  height: 100%;
  background-color: #212529;
  color: #ffffff;
}
.App {
  background-color: #212529;
  color: #ffffff;
}
a {
  color: #fff !important;
}
// header

.header {
  position: fixed;
  z-index: 10;
  top: 0px;
  font-size: 15px;
  user-select: none;
  background-color: #070720;
  color: #b7b7b7;
  height: 63px;
  text-align: left;
  width: 100%;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  @include Responsive(LG) {
    font-size: 0.8em;
  }
  .container-header {
    // padding-right: var(--bs-gutter-x,.75rem);
    // padding-left: var(--bs-gutter-x,.75rem);
    // margin-right: auto;
    // margin-left: auto;
    width: 100%;
    height: 100%;
    .menu {
      cursor: pointer;
      @include Responsive(MD) {
        display: none !important;
      }
    }
    .active {
      background: #e53637;
      color: #ffffff;
      cursor: pointer;
      @include Responsive(MD) {
        display: none !important;
      }
    }
    .header-icon {
      font-size: 25px;
      @include Responsive(LG) {
        font-size: 1.1rem;
      }
    }
    .nav {
      // background-color: rgb(214, 24, 24);
      height: 100%;
      width: 100%;
      position: relative;
      .line {
        position: absolute;
        top: 22px;
        right: 0px;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
        transition: all 0.25s;
        &::after {
          content: "";
          position: absolute;
          top: 8px;
          right: 0px;
          width: 30px;
          height: 2px;
          border-radius: 1px;
          background-color: #fff;
        }
        &::before {
          content: "";
          position: absolute;
          top: 16px;
          right: 0px;
          width: 30px;
          height: 2px;
          border-radius: 1px;
          background-color: #fff;
        }
      }
      .line-x {
        background-color: #fff;
        position: absolute;
        width: 30px;
        height: 2px;
        border-radius: 1px;
        top: 29px;
        right: 0px;
        transform: rotate(225deg);
        transition: all 0.25s;
        &::after {
          content: "";
          background-color: #fff;
          position: absolute;
          width: 30px;
          height: 2px;
          border-radius: 1px;
          top: 0px;
          transform: rotate(265deg);
        }
      }
      .nav-text {
        padding-left: 10px;
        margin-top: 15px;
        font-size: 20px;
      }
    }
    .nav-menu {
      background-color: #fff;
      text-align: center;
      align-items: center;
      border-radius: 2px;

      .nav-menu-item {
        &:hover {
          background-color: #aaaaaa;
          color: #000;
        }
      }
    }
  }
}
// Body
.product {
  text-align: start;
  user-select: none;
  .product-content {
    padding-bottom: 60px;
    padding-top: 80px;
    .ct-box-title {
      @extend .box-red;
      position: absolute;
      left: 0;
      top: -6px;
    }
    .product-content-title {
      font-weight: 600;
      line-height: 21px;
      text-transform: uppercase;
      padding-left: 20px;
      position: relative;
      font-family: "Oswald", sans-serif;
    }
    .view-all {
      font-size: 13px;
      .view-all-content {
        cursor: pointer;
        letter-spacing: 2px;

        font-weight: 700;
        text-transform: uppercase;
      }
      .icon-view-all {
        cursor: pointer;
      }
      &:hover {
        font-size: 15px;
        transition: all 0.5s;
        
      }
    }

    .row {
      .image {
        width: 190px;
        // cursor: pointer;
        @include Responsive(SM) {
          width: 100%;
          padding-left: 10%;
          padding-right: 10%;
          // display: none !important;
        }

        .ep {
          width: 66px;
          height: 24px;
          background-color: #e53637;
          position: absolute;
          margin-top: 10px;
          margin-left: 10px;
          text-align: center;
          font-size: 13px;
          border-radius: 4px;
          z-index: 1;
        }
        .image-custom {
          position: relative;
          width: 100%;
          height: 269px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            transition: opacity 0.5s;
            &:hover {
              opacity: 0.7;
              background-color: #212529;
            }
          }
          &:hover:after {
            content: "";
            position: absolute;
            border-bottom: 12px solid transparent;
            border-top: 12px solid transparent;
            border-left: 20px solid #ffffff;
            z-index: 3;
            top: 50%;
            left: 52%;
            transform: translate(-50%, -50%);
          }
          &:hover:before {
            display: inline-block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            content: "";
            opacity: 0.6;
            border-radius: 50%;
            border: 2px solid #ffffff;
            background-color: #212529;
            width: 50px;
            height: 50px;
            z-index: 2;
          }
          .comment {
            font-size: 13px;
            background: #3d3d3d;
            display: inline-block;
            padding: 2px 10px;
            border-radius: 4px;
            position: absolute;
            left: 10px;
            bottom: 10px;
            .comment-content {
              display: inline;
              padding-left: 2px;
            }
          }
          .view {
            font-size: 13px;
            background: #3d3d3d;
            display: inline-block;
            padding: 2px 10px;
            border-radius: 4px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            .view-content {
              display: inline-block;
              padding-left: 2px;
            }
          }
        }
      }
      .image-content {
        user-select: none;
        width: 100%;
        .ct-name {
          // display: none;
          @include Responsive(SM) {
            margin-left: 10%;
            margin-right: 10%;
            text-align: start;
            max-width: 100% !important;
            // width: 100%;
            word-wrap: break-word;
          }
        }
        .image-type {
          @include Responsive(SM) {
            margin-left: 10%;
            margin-right: 10%;
            text-align: start;
            max-width: 100% !important;
            // width: 100%;
            word-wrap: break-word;
          }
          .image-type-content {
            cursor: pointer;
            background: #ffffff33;
            list-style: none;
            font-size: 10px;
            font-weight: 700;
            margin: 2px;
            border-radius: 50px;
            padding: 1px 10px;

          }
        }
      }
    }
  }
}
.top-views {
  text-align: start;
  user-select: none;
  padding-top: 74px;
  position: relative;
  .top-views-header {
    .top-views-box-title {
      display: inline-block;

      height: 32px;
      width: 4px;
      background: #e53637;
    }
    .top-views-title {
      position: absolute;
      padding-top: 6px;
      font-weight: 600;
      line-height: 21px;
      text-transform: uppercase;
      padding-left: 10px;
      font-family: "Oswald", sans-serif;
    }
    .top-views-time {
      position: absolute;
      right: 0%;

      .top-views-time-content {
        color: #b7b7b7;
        font-size: 0.8em;
      }
    }
  }
  .top-views-conent {
    padding-top: 24px;
    .top-views-content-item {
      position: relative;
      .image {
        margin-bottom: 20px;
        width: 100%;
        border-radius: 5px;
      }

      .name {
        position: absolute;
        z-index: 1;
        bottom: 35px;
        padding-left: 24px;
      }
      .ep {
        background-color: #e53637;
        position: absolute;
        z-index: 1;
        top: 10px;
        padding: 2px 0px 0px 14px;
        left: 10px;
        border-radius: 4px;
        height: 24px;
        width: 66px;
        font-size: 13px;
      }
      .view {
        font-size: 13px;
        background: #3d3d3d;
        display: inline-block;
        padding: 2px 10px;
        border-radius: 4px;
        position: absolute;
        right: 10px;
        top: 10px;
        div {
          padding-left: 1px;
          display: inline-block;
        }
      }
    }
  }
}
