/** @format */

.w-138p {
  width: 138px;
}
.h-500p {
  height: 579px;
}
.w-36p {
  width: 36px;
}
// box
.box-red {
  height: 32px;
  width: 4px;
  background: #e53637;
}

.cursor {
  cursor: pointer;
}
// padding
.pt-1p {
  padding-top: 1px;
}

//margin
.mt-e5p {
    margin-top:-5px
}
//max width
.m-width190p {
    max-width: 190px;
}
