/** @format */
@keyframes slideTitle {
  // from {
  //   top: -500px;
  // }
  // to {
  //   top: -180px;
  // }
  0% {
    top: -180px;
  }
  75% {
    top: -300px;
    opacity: 0;
  }
  100% {
    top: -180px;
  }
}
@keyframes slideContent {
  // from {
  //   top: -390px;
  // }
  // to {
  //   top: -70px;
  // }
  0% {
    top: -70px;
  }
  75% {
    top: -290px;
    opacity: 0;
  }
  100% {
    top: -70px;
  }
}
@keyframes slideButton {
  // from {
  //   top: -390px;
  // }
  // to {
  //   top: -70px;
  // }
  0% {
    bottom: 9px;
  }
  75% {
    bottom: 129px;
    opacity: 0;
  }
  100% {
    bottom: 9px;
  }
}
.slide {
  cursor: pointer;
  user-select: none;
}
.ct-button {
  font-size: 36px;
  height: 66px;
  width: 66px;
  background: #0b0c2a;
  line-height: 66px;
  text-align: center;
  color: #ffffff;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -47px;
}
.ct-icon {
  transform: rotate(-45deg);
  display: block;
  z-index: 1;
}
.slide-title {
  text-align: left;
  color: #ffffff;
  font-size: 42px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  line-height: 52px;
  //   margin-top: 35px;
  left: -80px;
  //   margin-bottom: 8px;
  position: absolute;
  top: -180px;
  animation: slideTitle;
  animation-duration: 1.5s;
}
.slide-button {
  left: -77px;
  position: absolute;
  background-color: #e53637;
  padding: 14px 20px; 
  bottom: 9px;
  border-radius: 4px 0px 0px 4px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-right: 1px;
  height: 50px;
  animation: slideButton;
  animation-duration: 1.5s;
}
.slide-icon-button {
  background-color: #e53637;
  position: absolute;
  width: 20px;
  left: 89px;
  bottom: 9px;
  height: 50px;
  border-radius: 0px 4px 4px 0px;
  animation: slideButton;
  animation-duration: 1.5s;
}
.button-next {
  @extend .ct-button;
  right: -33px;
}

.button-prev {
  @extend .ct-button;
  left: -33px;
}
.ct-icon-next {
  @extend .ct-icon;
  width: 54px;
}
.ct-icon-prev {
  @extend .ct-icon;
  margin-left: 4px;

  width: 38px;
  margin-top: 1px;
}

.type-anime {
  font-size: 13px;
  color: #e53637;
  background: #ffffff;
  padding: 5px 14px 3px;
  position: absolute;
  top: -350px;
  opacity: 1;
  transition: all, 0.2s;
  left: -80px;
}
.slide-content {
  left: -75px;
  position: absolute;
  top: -70px;
  animation: slideContent;
  animation-duration: 1.5s;
}
.dot-page {
  height: 8px !important;
  width: 8px !important;
  background: #b7b7b7;
  border-radius: 50%;
  margin-right: 10px;
}
